---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";


---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Driven professional passionate about the power of data, quantitive research, and software development.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="M.S. Statistics"
      subtitle="2019 to 2022 at George Mason University - Fairfax, Virginia"
    />
    <TimeLineElement
      title="B.S. Mathematics"
      subtitle="2012 to 2014 at Arizona State University - Tempe, Arizona"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Web Developer at BlueChannel, Inc."
      subtitle="From August 2023 to Present - Remote"
    >
      Talk about Talongrips and COID.
    </TimeLineElement>
    <TimeLineElement
      title="Statistician at Deloitte"
      subtitle="From August 2019 to May 2023 in McLean, Virginia"
    >
      Talk about statistical sampling, R and Python.
    </TimeLineElement>
    <TimeLineElement
      title="Researcher at Fors Marsh Group"
      subtitle="From April 2016 to August 2019 in Arlington, Virginia"
    >
      Talk about data analysis and R.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Data Analysis with R</li>
    <li>Data Analysis with SAS</li>
    <li>Data Analysis with Python</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Javascript</li>
    <li>Bootstrap</li>
    <li>Tailwaind</li>
    <li>React.js</li>
    <li>Vue.js</li>
    <li>Astro</li>
    <li>Microsoft Excel</li>
  </ul>
</BaseLayout>
