---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Profile</div>
	</div>

	<div class="mb-10 text-justify">
		Driven professional passionate about the power of data, and building applications to improve user experience.
	</div>

	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Education</div>
	</div>

	<div class="time-line-container grid gap-4 mb-10">
		<TimeLineElement
			title="M.S. Statistics"
			subtitle="2019 to 2022 at George Mason University - Fairfax, Virginia"
		/>
		<TimeLineElement
			title="B.S. Mathematics"
			subtitle="2012 to 2014 at Arizona State University - Tempe, Arizona"
		/>
	</div>

	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Experience</div>
	</div>

	<div class="time-line-container mb-10">
		<TimeLineElement title="Web Developer at BlueChannel, Inc." subtitle="From August 2023 to Present - Remote">
			<p class="italic">
				Blue Channel is a boutique web development and digital marketing agency that provides custom web
				applications for clients across the US. As a frontend developer I assist clients with internal and
				external web applications.
			</p>
			<br />
			<ul class="list-disc mx-6">
				<li>
					Collaborate with 4+ developers, 2 project managers, and multiple clients to deliver timely
					application updates
				</li>
				<li>
					Contributed to sprint-based workflow to build out a prototype for Central Oregon Irrigation
					District's (COID) water rights and record keeping system with 35+ screens using LAMP stack
				</li>
				<li>
					Identified a data efficiency solution for COID that reduced a 3-week data entry task to 1 day by
					transitioning from manual data transfer to an automated upload between systems
				</li>
				<li>
					Assisted with website styling efforts for Talon Grips, Inc. e-commerce site rebuild which improved
					mobile sales by 30%
				</li>
				<!-- <li>Cornerstone is base template from big commerce (hosting provided), which uses handlebars and stencil CLI to start the project (separate package required to work with cornerstone) - Aarons says write I was exposed to SCSS (requires node package to complie down to regular CSS), handlebars and light JS. </li> -->
			</ul>
			<br />
		</TimeLineElement>
		<TimeLineElement title="Statistician at Deloitte" subtitle="From August 2019 to May 2023 - McLean, Virginia">
			<p class="italic">
				Big four public accounting and consultancy firm where I focused on helping clients to improve accuracy
				and time required for estimating a variety of tax return positions using statistical sampling.
			</p>
			<br />
			<ul class="list-disc mx-6">
				<li>
					Designed and evaluated statistical samples to help 700+ corporate clients estimate positions for
					federal and state tax returns
				</li>
				<li>
					Developed a process efficiency script to reduce client tax research time by 10-20% by improving
					sample size efficiency while maintaining healthy relative precision
				</li>
				<li>
					Assisted in expanding statistical sampling services across R&D and Inventory tax opportunities
					growing revenues by 10-15%
				</li>
				<li>Led 50+ Meals & Entertainment and R&D tax projects providing guidance to engagement teams</li>
				<li>
					Researched and implemented statistical process improvement methodologies and estimation techniques
				</li>
			</ul>
			<br />
		</TimeLineElement>
		<TimeLineElement
			title="Researcher at Fors Marsh Group"
			subtitle="From April 2016 to August 2019 - Arlington, Virginia"
		>
			<p class="italic">
				Social-psychology research firm helping public and private clients implement and analyze large scale
				survey results. My focus was on survey operations helping to ensure accurate data collection and produce
				statistical summaries of survey results.
			</p>
			<br />
			<ul class="list-disc mx-6">
				<li>
					Analyzed and cleaned survey data in SAS, R, and MS Excel to produce project deliverables including
					1,000+ page tabulation volumes, 200+ slide briefing decks, and various ad hoc analyses
				</li>
				<li>Assisted with ETL data migration for 1.2M personnel records from IBM mainframe to SQL database</li>
			</ul>
		</TimeLineElement>
	</div>

	<!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->

	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Web Technology Skills</div>
	</div>

	<ul class="list-disc md:columns-5 columns-2 mx-6">
		<li>HTML</li>
		<li>CSS</li>
		<li>Bootstrap</li>
		<li>Tailwind</li>
		<li>Javascript</li>
		<li>React.js</li>
		<li>PHP</li>
		<li>MySQL</li>
		<li>WordPress</li>
	</ul>

	<div class="mt-5">
		<div class="text-3xl w-full font-bold">Data Analysis Skills</div>
	</div>

	<ul class="list-disc md:columns-5 columns-2 mx-6">
		<li>R</li>
		<li>SAS</li>
		<li>Python</li>
		<li>Hypothesis testing</li>
		<li>ANOVA tables</li>
		<li>Generalized Linear Modeling</li>
	</ul>
</BaseLayout>
